<div id="app">
  <input type="file" (change)="onFileChange($event)" accept=".txt">
  <!-- <input type="text" (input)="onSearchInput($event.target.value)" placeholder="Search" id="searchInput"> -->
  <input type="text" (input)="onSearchInput($event)" placeholder="Search" id="searchInput">
  <div>Total Occurrences: <span id="totalOccurrences">{{ totalOccurrences }}</span></div>
  <div id="fileContent" [innerHTML]="highlightedContent"></div>
  <div id="totalWordsContainer">Total Words: <span id="totalWords">{{ totalWords }}</span></div> 
  <div id="searchHistory">
    <!-- <div *ngFor="let query of searchHistory">{{ query }}</div> -->
  </div>
</div>
